*, *:before, *:after {
	box-sizing: border-box;
}

body{
	background-color: #000000;
	background-image: linear-gradient(141deg,#1f1f1f 0%,#3e3e48 51%,#000000 75%);
	color: white;
  }

.page-loader{
	display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    z-index: 99999999999;
}

.hiding{
	visibility: hidden;
  	opacity: 0;
  	transition: visibility 2s, opacity 2s linear;
}

.settings{
	margin-bottom: 10px; 
	&.first{
		padding-top: 50px;
	}
}
.btn{
	margin-right:15px;
}

.option-row{
	display:flex;
	flex-wrap: wrap;
    &.active{
      display: flex;
	}
	.margin-row{
		height: 5px;
    	width: 100%;
	}
}

.res-box{
	display:inline-block;
	position: absolute !important;
	float:left;
	clear:left;
	left:50%;
	cursor:pointer;
  &:hover{
    outline: solid 1px rgba(7, 132, 226, 0.9);
  }
  &.text{

  }
  &.image{
	
	&.active{
		outline: solid 1.5px rgba(37, 226, 7, 0.9);
		z-index:1;
		h1{
		cursor:default;
		}
	}
  }
}

.react-draggable{

	&.active, &.react-draggable-dragging{
		&:after,
		&:before {
		  content: '';
		  position: absolute;
		  height: calc(100% - 14px);
		  width: 100% ;
		}
		&:before {
		  width: calc(100% - 28px);
		  top: 0px;
		  left: 14px;
		  border-top: 2px solid #3be467;
		}
		&:after {
		  bottom: 0px;
		  right: 0px;
		  border-bottom: 2px solid #3be467;
		  border-left: 2px solid #3be467;
		  border-right: 2px solid #3be467;
		}
		&:focus {
		  outline: 0;
		  }
		z-index:1;
		h1{
		  cursor:default;
		}
		.drag-handle, .res-pos-bt{
		  display:inline-flex;
		}
		span{
			div:last-child{
				width:20px;
				height:20px;
				background-image:url('../img/icon/res_arrow.png');
				background-size: 20px;
				z-index: 1;
			}
		}
	  }

	
}

.drag-handle{
	display:none;
	position:absolute;
	left:-10px;
	top:-10px;
	cursor:pointer;
	width:20px;
	height:20px;
	background-image:url('../img/icon/dragg.png');
	background-size: 20px;
	z-index: 1;
}
.res-pos-bt{
	display:none;
	position:absolute;
	right:-10px;
	top:-10px;
	cursor:pointer;
	width:20px;
	height:20px;
	background-image:url('../img/icon/reset.png');
	background-size: 20px;
	z-index: 1;
}


.select-font-size{
	display: flex;
	.input-number{
	width: 80px;
	padding: 0 12px;
	vertical-align: top;
	text-align: center;
	outline: none;}

	.input-number,
	.input-number-decrement,
	.input-number-increment{
	border: 1px solid #ccc;
	height: 40px;
	user-select: none;
	}

	.input-number-decrement,
	.input-number-increment{
	display: inline-block;
	width: 30px;
	line-height: 38px;
	background: #f1f1f1;
	color: #444;
	text-align: center;
	font-weight: bold;
	cursor: pointer;

	&:active{
		background: #ddd;
	}
	}

	.input-number-decrement{
	border-right: none;
	border-radius: 4px 0 0 4px;
	}

	.input-number-increment{
	border-left: none;
	border-radius: 0 4px 4px 0;
	}
}